@font-face {
  font-family: 'Retganon';
  src: url('../../assets/retganon.ttf');
}

* {
  margin: 0;
  padding: 0;
  color: #c8c8c8af;
  box-sizing: border-box;
  font-family: 'Retganon';
}

body {
  height: 100vh;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100%;
  width: 100%;
  border: 5px solid rgba(255, 255, 255, 0.082);
}

#title {
  position: absolute;
  top: 10vh;
  left: 50%;
  font-size: 5vh;
  transform: translateX(-50%);
}
