@font-face {
  font-family: 'Retganon';
  src: url('../../assets/retganon.ttf');
}

@font-face {
  font-family: 'Maxwell';
  src: url('../../assets/MAXWELL\ REGULAR.ttf');
}

@font-face {
  font-family: 'Sabo';
  src: url('../../assets/Sabo-Regular.otf');
}

@font-face {
  font-family: 'Pixel Emulator';
  src: url('../../assets/PixelEmulator-xq08.ttf');
}

@font-face {
  font-family: 'Joystix';
  src: url('../../assets/joystix\ monospace.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Joystix';
  font-size: 0.88em;
}

body {
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#wrapper {
  position: relative;
  height: 100%;
  width: 80%;
  border: 5px solid rgba(255, 255, 255, 0.082);
}

#title {
  color: #c8c8c8af;
  position: absolute;
  top: 10vh;
  left: 50%;
  font-size: 5vh;
  pointer-events: none;
  transform: translateX(-50%);
}

#info-and-controls {
  background: black;
  z-index: 1000;
  width: 20%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2em;
  border: 5px solid rgba(255, 255, 255, 0.082);
  border-left: none;
  color: #d8ffd4af;
}

#info-and-controls div {
  width: 100%;
}

#info {
  padding: 0.3em;
  border-bottom: 5px solid rgba(255, 255, 255, 0.082);
}

#chart {
  border-bottom: 5px solid rgba(255, 255, 255, 0.082);
}

#controls {
  padding: 0.3em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.control {
  cursor: pointer;
  padding: 0.5em;
  font-size: 1em;
  color: inherit;
  background: none;
  border: 5px solid rgba(255, 255, 255, 0.082);
}

.control:active {
  border-color: rgba(255, 255, 255, 0.2);
}

.control:focus {
  outline: none;
}

.control:disabled {
  cursor: not-allowed;
  color: rgba(128, 128, 128, 0.212);
  border-color: rgba(255, 255, 255, 0.05);
}

#info,
#controls {
  flex: 1;
}

#speed {
  width: 100%;
  border-top: 5px solid rgba(255, 255, 255, 0.082);
  display: flex;
  padding: 0.3em;
  align-items: center;
  justify-content: center;
}

#speed p {
  margin-right: 0.5em;
}

#my-chart {
  width: 100%;
  height: 100%;
}
